<a href="/"><%- include('partials/header') -%></a>
<h2>Employee Details</h1>

<ul>
    <li>Employee ID: <%= personel.id %></li>
    <li>Employee Name: <%= personel.first_name%> <%= personel.last_name%></li>
    <li>Age: <%= personel.age%></li>
    </ul>
    
<%- include('partials/footer') -%>