<%- include('partials/header') %> 

<div class="container">
    <% if (personel.length > 0) { %>
        <ul class="list-group mb-3 contact-info">
            <% personel.forEach(employee => { %>
            <li class="list-group-item list-group-item list-group-item-action d-flex justify-content-between align-items-center"id="<%= employee.id %>">
                <a id="<%= employee.id %>"href="/empdetails/<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></a>
                <i class = "fas fa-trash-alt text-danger delete"></i>
            </li>   
            <% }) %>
        </ul>        
    <% } else { %>
        <p>No employees to show.</p>
    <% } %>
        <a href="/addemp"><button class="btn btn-primary btn-lg">Add an employee</button></a>
</div>
<%- include('partials/footer') -%>
                
<script>
const deleteItem = () => {
    console.log("clicked", event.currentTarget.parentElement.id);
        fetch("/del-emp", {
            method: "post",
            headers:{
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({id:event.currentTarget.parentElement.id})
        }).then(res => {
            window.location.reload();
        })
        .catch(err=> console.log('err', err));
}

deleteButton = document.querySelectorAll(".delete").forEach(el => {
    el.addEventListener('click', deleteItem);
});

</script>